
</div>
<footer class="footer">
  <div class="container text-center">
      <div class="social-icons">
          <a href="https://www.linkedin.com/in/bandari-uchith-kumar-1ab600257/" target="_blank"><i class="fab fa-linkedin fa-x"  style="color: #0077B5;"></i></a>
          <a href="https://github.com/uchithk130" target="_blank"><i class="fab fa-github fa-x github-icon" style="color: black;"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram fa-x" style="color: #E4405F;"></i></a>
          <a href="#" target="_blank"><i class="fab fa-facebook fa-x"  style="color: #1877F2;"></i></a>
          <a href="mailto:uchithk130@gmail.com"><i class="fas fa-envelope fa-x" style="color: #f5f8fa;"></i></a>
      </div>
      <p>Follow us on social media or contact us via email.</p>
  </div>
</footer>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7055031129192732"
    crossorigin="anonymous"></script>

</body>
</html>
