
</div>
<footer class="footer">
  <div class="container text-center">
      <div class="social-icons">
          <a href="https://www.linkedin.com/in/uchith-kumar-345864294/" target="_blank"><i class="fab fa-linkedin fa-x"  style="color: #0077B5;"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter fa-x twitter-icon" style="color: #1DA1F2;"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram fa-x" style="color: #E4405F;"></i></a>
          <a href="#" target="_blank"><i class="fab fa-facebook fa-x"  style="color: #1877F2;"></i></a>
          <a href="mailto:your@example.com"><i class="fas fa-envelope fa-x" style="color: #f5f8fa;"></i></a>
      </div>
      <p>Follow us on social media or contact us via email.</p>
  </div>
</footer>
</body>
</html>
